* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 80px;
}
#submit{
    padding: 12px 20px;
    margin-top: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 6px;
    background-color: 	#ff7676;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

#submit:hover{
    background-color: #ffa9a9;
    transform: translateY(-2px);
}

#submit:active{
    transform: translateY(0);
}

#quote{
    margin-top: 40px;
    background-color: #111;
    border: 2px solid 	#ff7676;
    border-radius: 12px;
    padding: 30px;
    width: 320px;
    text-align: center;
    color: white;
}
h1{
    color: #ffa9a9;
}